.address {
    font-style: normal;
    line-height: 1.7;
    margin-top: 20px;

    &__list{
        display: flex;
        flex-direction: column;
        gap: 9px;
        list-style-type: none;
        // @media screen and (max-width: 1199px) {
        //     gap: 9px;
        // }
        
               
        // @media screen and (min-width: 1200px) {
        //     gap: 9px;
        // }
       
    }
    
    &__map {
        color: var(--primary-white-color);
        text-decoration: none;
    }
    
    &__call{
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition: color var(--tra);
    }
    
    &__call:hover,
    &__call:focus {
        color: var(--color-active);
        fill: currentColor
    }
}



